.titulo {
    background-color: #0042ac;
    color: white;
    padding: 24px 0;
    margin: 0 16px;
    font-size: 16px;
    text-align: center;  
}


.paragrafo {
    background-color: #adc1e2;
    color: rgb(0, 0, 0);
    padding: 24px 0;
    margin: 0 16px;
    font-size: 30px;
    text-align: left; 
}

body {background: rgb(166, 208, 221);}