.titulo {
    background-color: #424E61;
    color: white;
    padding: 24px 0;
    margin: 0 16px;
    font-size: 16px;
    text-align: center;  
}


.paragrafo {
    background-color: #424E61;
    color: yellow;
    padding: 24px 0;
    margin: 0 16px;
    font-size: 30px;
    text-align: left; 
}